- card_title = "<small class='text-muted'>" + t("admin.page.edit_content") + "</small>" + " <span class='page-title'>#{content.title}</span>"

=render_card_box title: card_title, collapse: true do
  -# LAYOUTS and active
  .form-row
    .form-group.col-md-12
      .form-row.align-items-center
        %label.col-form-label.col-md-4.text-left=t("admin.content.edit_box.active")
        .col-md-8.text-right
          - LipsiaWEB[:langs].each do |lang|
            .form-check.backend-checkbox.check-right.inline-check
              = f.check_box "active_#{lang}", class: "form-check-input"
              = f.label "active_#{lang}", lang.upcase, class: "form-check-label"
    .form-group.col-md-12
      %ul.nav.nav-tabs.mt-3
        %li.nav-item
          =link_to "#tab-contents-#{content.id}", class: "nav-link active", :"data-toggle" => "tab" do
            =t("admin.content.edit_box.contents")

        -[:structure, :style].each do |key|
          -# Properties and advanced options
          - has_page_layout_properties = (f.object&.page_layout.present? && f.object.page_layout.send("#{key}_properties").present?)
          - has_layout_properties = (f.object&.layout.present? && f.object.layout.send("#{key}_properties").present?)
          -if has_layout_properties || has_page_layout_properties
            %li.nav-item
              =link_to "#tab-#{key}-#{content.id}", class: "nav-link", :"data-toggle" => "tab" do
                =t("admin.content.edit_box.#{key}")
        %li.nav-item
          =link_to "#tab-metas-#{content.id}", class: "nav-link", :"data-toggle" => "tab" do
            =t("admin.content.edit_box.meta_tags")
      .tab-content
        .tab-pane.my-4.show.active{id: "tab-contents-#{content.id}"}

          .form-row.mt-4.row-divided
            - LipsiaWEB[:langs].each do |lang|
              .col-6
                =render partial: "stecms_api_ecommerce/shared/localized_values", locals: {f: f, locale: lang }
          .row.mt-5
            .col-12
              =render_card_part title: t("admin.images.uploader_title"), collapse: false do
                =render partial: "backend/images/uploader", locals: { parent: f.object }
          .row.mt-5
            .col-12
              =render_card_part title: "Ecommerce Info", collapse: false do
                .row.align-items-start
                  .col
                    - store = @category.present? ? :store_category : :store_product
                    = f.fields_for store do |s|
                      = s.hidden_field :id
                      - s.object.attributes.keys.reject{ |x| ["id",  "content_id", "created_at", "updated_at"].include?(x) }.each do |key|
                        .form-row.form-group
                          -if !s.object[key].is_a?(Hash)
                            = s.label key.to_sym, class: "col-form-label col-md-3"
                            .col.col-md-9
                              = s.text_field key.to_sym, class: "form-control"
                          -else
                            = s.label key.to_sym, class: "col-form-label col-md-3"
                            .col.col-md-9
                              .form-row.form-group
                                - s.object[key].keys.each do |obj|
                                  .col-6
                                    = image_tag "/images/flags/#{obj}.png", class: "small-flag"
                                    .form-row.form-group
                                      - s.object[key][obj].each do |attrs|
                                        = s.label attrs["name"], class: "col-form-label col-md-3"
                                        = text_field_tag "product[store_product_attributes][#{key}][#{obj}][][value]", attrs["value"], class: "form-control col-md-9"
                                        = hidden_field_tag "product[store_product_attributes][#{key}][#{obj}][][name]", attrs["name"], class: "form-control"
                                        = hidden_field_tag "product[store_product_attributes][#{key}][#{obj}][][locale]", attrs["locale"], class: "form-control"







        .tab-pane.my-4{id: "tab-metas-#{content.id}" }
          -# Meta tags
          .row
            .col-12
              -# =render_card_part title: t("admin.content.edit_box.meta_tags"), collapse: true, collapsed: true do
              .form-row.row-divided
                .col
                  =render partial: "backend/contents/meta_tags", locals: {f: f, locale: @first_lang}
      .form-group.col-md-12.text-right
        =f.submit t("admin.words.save"), class: "btn btn-primary"


