.container-fluid.mt-5
  .row
    .col-12
      %h1=t("admin.categories")
      .table-responsive
        %table.table.table-sm#user-roles-table
          %thead
            %tr
              - t("stecms_api_ecommerce.table").each do |_, val|
                %th=  val
              %th
          %tbody
            - @categories.each do |category|
              %tr
                %td= category.title
                %td= category.subtitle
                %td= truncate category.body, limit: 50
                %td= category.store_category.permalink
                %td= category.active
                %td
                  = link_to main_app.edit_stecms_api_ecommerce_category_path(category.id), class: "btn btn-primary" do
                    =t("admin.words.edit")
                  = link_to main_app.stecms_api_ecommerce_category_path(category.id), class: "btn btn-danger", :"data-method" => "DELETE" do
                    =t("admin.words.delete")



      = paginate @categories, params: { script_name: "/backend" }
